@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700&family=Raleway:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
p {
  color: #7a7a7a;
}

button {
  cursor: pointer;
  box-shadow: 0 1px 46px -4px rgba(0, 0, 0, 0.3);
}

button:disabled {
  background: grey;
  opacity: 0.5;
}

button:disabled:hover {
  background: grey;
  cursor: default;
}

a {
  box-shadow: 0 1px 46px -4px rgba(0, 0, 0, 0.4);
}

img {
  margin: 0;
  padding: 0;
}

select {
  box-shadow: 0 1px 46px -4px rgba(0, 0, 0, 0.3);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1652f0;
  margin-bottom: 15vh;
}

.error-screen {
  margin-top: 30vh;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-screen h2 {
  color: #ffffff;
  font-weight: 300;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  margin-top: 15vh;
  background-color: #ffffff;
  border-radius: 3vw;
  box-shadow: 0 1px 46px -4px rgba(0, 0, 0, 0.4);
  padding-top: 5vh;
}

.cart h1 {
  color: #7a7a7a;
  font-size: 4vw;
  margin-bottom: 2vh;
}

.cart__entry {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 40vh;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.cart__entry__img {
  width: 30%;
  height: 80%;
}

.cart__entry__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1vw;
  box-shadow: 0 1px 26px -4px rgba(0, 0, 0, 0.4);
}

.cart__entry__info {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 80%;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.cart__entry__info h3 {
  color: #2e2e2e;
  margin-top: 1.5vh;
  font-size: 1.8vw;
  font-weight: 400;
  text-align: left;
  padding-left: 1.8vw;
  padding-right: 1.5vw;
}

.cart__entry__info p {
  font-size: 1.4vw;
  font-weight: 300;
  padding: 1vw 1.5vw 0 1.8vw;
  margin-top: .8vh;
  margin-right: .8vw;
  margin-bottom: 1.5vh;
  overflow-y: scroll;
}

.cart__entry__manage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
  height: 80%;
}

.cart__entry__manage__nights {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
}

.cart__entry__manage__nights div {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
}

.cart__entry__manage__nights div button {
  color: #ffffff;
  background: linear-gradient(165deg, #53e764 0%, #47c037 100%);
  font-weight: 300;
  height: 4vw;
  width: 4vw;
  font-size: 3vw;
  border-radius: 50%;
  border: none;
}

.cart__entry__manage__nights div button:hover {
  background: linear-gradient(165deg, #27ed3d 0%, #3eba2e 100%);
}

.cart__entry__manage__nights div select {
  font-size: 2vw;
  font-weight: 300;
}

.cart__entry__manage__price {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cart__entry__manage__price h3 {
  font-weight: 300;
  font-size: 4vw;
  margin-left: 2vw;
  color: #2e2e2e;
}

.cart__entry__manage__price h3 span {
  color: #7a7a7a;
  font-weight: 400;
}

.cart__entry__manage__price button {
  color: #7a7a7a;
  background: none;
  border: none;
  margin-right: 1vw;
}

.cart__entry__manage__price button:hover {
  color: #f54848;
}

.cart__entry__manage__price button svg {
  pointer-events: none;
  box-shadow: 0 1px 46px -4px rgba(0, 0, 0, 0.4);
  transition: .3s ease;
}

.cart__result {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  width: 100%;
  border-radius: 0 0 3vw 3vw;
}

.cart__result__total {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.cart__result__total h2 {
  color: #2e2e2e;
  font-weight: 300;
  font-size: 5vw;
  margin-bottom: 5vh;
}

.cart__result__total h2 span {
  color: #7a7a7a;
  font-weight: 400;
}

.cart__result__total a {
  display: flex;
  color: #ffffff;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  width: 50%;
  height: 10vh;
  border-radius: 2vw;
  background: linear-gradient(165deg, #2daf3c 0%, #5de24b 100%);
}

.cart__result__total a:hover {
  background: linear-gradient(165deg, #279b36 0%, #5de24b 100%);
}

.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35vw;
  margin-top: 15vh;
  padding-top: 5vh;
  background-color: #ffffff;
  border-radius: 3vw;
  box-shadow: 0 1px 46px -4px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.checkout a {
  font-size: 1.5vw;
  color: #2daf3c;
  text-decoration: none;
  background-color: transparent;
  margin-bottom: 2vh;
  box-shadow: none;
  transition: .3s ease;
}

.checkout a:hover {
  color: #38c448;
}

.checkout h1 {
  color: #7a7a7a;
  font-size: 4.5vw;
  margin-bottom: 5vh;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 4vh;
}

form h3 {
  color: #2e2e2e;
  text-align: center;
  font-size: 4vw;
  font-weight: 300;
  margin-top: 2vh;
}

form h3 span {
  color: #7a7a7a;
  font-weight: 400;
}

form button {
  color: white;
  border: none;
  height: 10vh;
  font-size: 1.5vw;
  border-radius: 2vw;
  margin-top: 5vh;
  margin-bottom: 4vh;
  background: linear-gradient(165deg, #2daf3c 0%, #5de24b 100%);
}

form button:hover {
  background: linear-gradient(165deg, #279b36 0%, #5de24b 100%);
}

form p {
  font-size: 1.3vw;
  font-weight: 300;
  font-style: italic;
}

input {
  font-size: 2vw;
  margin-bottom: 2vh;
  border-radius: 2vw;
  border: 1px solid #b6b6b6;
  padding: 1vw;
  font-weight: 300;
  box-shadow: 0 1px 12px -4px rgba(0, 0, 0, 0.4);
}

input:focus {
  border: 1px solid #7797e9;
  outline: none;
}

input::placeholder {
  font-weight: 300;
}

label {
  text-align: left;
  padding-left: 2vw;
  margin-bottom: 1vh;
  font-weight: 300;
  color: #f35656;
}

@media (max-width: 767px) {
  body {
    margin-bottom: 4vh;
  }
  .cart {
    margin-top: 5vh;
    width: 100vw;
  }
  .cart h1 {
    font-size: 10vw;
    margin-bottom: 1vh;
  }
  .cart__entry {
    height: 20vh;
  }
  .cart__entry__img {
    height: 60%;
  }
  .cart__entry__info h3 {
    font-size: 3vw;
  }
  .cart__entry__info p {
    font-size: 2vw;
  }
  .cart__entry__manage__nights {
    margin-left: 2vw;
  }
  .cart__entry__manage__nights div {
    width: 110%;
  }
  .cart__entry__manage__nights div button {
    font-size: 4vw;
    width: 6vw;
    height: 6vw;
  }
  .cart__entry__manage__nights div select {
    font-size: 3vw;
  }
  .cart__entry__manage__price h3 {
    font-size: 5.5vw;
  }
  .cart__entry__manage__price button svg {
    font-size: 4vw;
  }
  .cart__result__total {
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
  .cart__result__total h2 {
    font-size: 9vw;
    margin-bottom: 3vh;
  }
  .cart__result a {
    font-size: 2.5vw;
    height: 5vh;
  }
  .checkout {
    width: 80vw;
    margin-top: 10vh;
  }
  .checkout a {
    font-size: 3.5vw;
    margin-bottom: 3vh;
  }
  .checkout h1 {
    font-size: 8vw;
  }
  form h3 {
    font-size: 10vw;
  }
  form button {
    font-size: 4vw;
    height: 7vh;
  }
  form p {
    font-size: 5vw;
  }
  input {
    font-size: 6vw;
  }
  input::placeholder {
    font-size: 5.5vw;
  }
  label {
    font-size: 4vw;
  }
}
/*# sourceMappingURL=style.css.map */